@font-face {
    font-family: Banquise;
    src: url('/fonts/Banquise-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'basiic';
    src: url('/fonts/basiic.ttf') format('truetype');
}

@font-face {
    font-family: 'Romance';
    src: url('/fonts/RomanceA.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #006;
    color: #abb2bf;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashed-black-container {
    border: 1px solid #f0f0f0; /* Light border */
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.3); /* Light box shadow */
    border-radius: 8px;
    background-color: black;
}

.container-margin {
    margin: 20px 200px;
}

button {
    cursor: pointer;
}

a {
    color: white;
    transition: 0.5s;
}

a:hover {
    background-color: transparent;
    color: #ff9200;
    text-decoration: none;
}

.shade {
    background-image: url('/images/snow.gif');
    background-size: 250px;
    opacity: 0.7;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.shade-2 {
    background-image: url('/images/winter-clouds.png');
    background-size: 100%;
    opacity: 0.8;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    float: left;
}

.shade-3 {
    background-image: url('/images/starsky.gif');
    opacity: 0.4;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.top-shade {
    background-image: url('/images/stars.gif');
    background-size: 300px;
    float: left;
    height: 100px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 7px;
    width: 100%;
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.spin-img {
    animation: spin 5s linear infinite;
}

.spin-img:hover {
    animation: spin;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header img{
    margin-left: 10px;
    margin-right: 10px;
}

.ragnarok-logo-frame {
    justify-content: center;
    display: flex;
    align-items: center;
}

#logo {
    font-family: Banquise, serif;
    font-size: 100px;
    color: #FFF;
    text-shadow:
            0 0 5px #33CCFF,
            0 0 10px #00BFFF,
            0 0 20px #1E90FF,
            0 0 40px #0000FF;
    margin-left: 20px;
}

.content-container {
    padding: 15px 15px;
}

.inner-border {
    border: solid 1px #ffff1a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.post-logo {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%; /* or whatever width you want for your table */
}

td {
    border: 1px solid #ffff1a; /* Example border color */
    padding: 8px;
    text-align: left;
}

thead {
    font-family: Romance, serif;
    font-size: 30px;
    color: white;
}

thead th {
    text-align: center;
    vertical-align: middle;
}

tbody tr {
    background-color: #000033; /* Example body row background color */
    color: #abb2bf; /* Example body row text color */
}

tbody tr strong {
    color: white;
}

td[colspan="5"], td[colspan="4"] {
    font-family: Romance, serif;
    font-size: 30px;
    background-size: 50%;
    background-image:
            linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)),
            url('/images/retro-pizza.gif');
    background-blend-mode: screen;
    color: white;
    text-align: center;
}

.info-center-header {
    font-family: Romance, serif;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-center-table {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-button {
    border-radius: 4px; /* Rounded corners */
    transition: 0.5s ease; /* Transition effect for background color */
    margin-right: 10px;
}

.accordion-button:after {
    font-size: 15px;
    content: '\2796';
}


.active, .accordion-button:hover {
    background-color: rgba(103, 89, 89, 0.3);
}

.active:after {
    content: '\02795';
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    margin: 20px 200px;
    font-weight: 600;
    color: white;
}

.bottom-footer {
    text-align: center;
}

/* modal background */
.modal {
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0); /* Transparent color and opacity */
    opacity: 0;
    transition: 0.5s ease;
}

.modal.show {
    visibility: visible;
    background-color: rgba(40, 64, 80, 0.6);
    opacity: 1;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #313131; /* Dark background color */
    border-radius: 8px;
    border: 1px solid #f0f0f0; /* Light border */
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.3); /* Light box shadow */
    font-family: 'Press Start 2P', cursive;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-content {
    text-align: center;
    border: 1px solid #f0f0f0; /* Light border */
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.3); /* Light box shadow */
    border-radius: 4px; /* Adjust border radius if needed */
    padding: 10px; /* Adjust padding as needed */
}


label, input, button {
    margin: 10px 0;
}

input, button {
    padding: 5px;
    border: 1px solid #f0f0f0; /* Light border */
    background-color: #313131; /* Dark background color */
    color: #f0f0f0; /* Light text color */
    font-family: 'Press Start 2P', cursive;
}

.close-btn {
    border: none;
    font-size: 18px;
    color: #f0f0f0; /* Light text color */
}

.modal-content hr {
    border: 1px solid;
    margin: 20px 5px;
}

.modal-content span {
    text-align: center;
    margin: 20px;
}