@font-face {
    font-family: Banquise;
    src: url('/fonts/Banquise-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'basiic';
    src: url('/fonts/basiic.ttf') format('truetype');
}

@font-face {
    font-family: 'Romance';
    src: url('/fonts/RomanceA.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #006;
    color: #abb2bf;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashed-black-container {
    border: 1px solid #f0f0f0; /* Light border */
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.3); /* Light box shadow */
    border-radius: 8px;
    background-color: black;
}

.container-margin {
    margin: 20px 200px;
}

button {
    cursor: pointer;
}

a {
    color: white;
    transition: 0.5s;
}

a:hover {
    background-color: transparent;
    color: #ff9200;
    text-decoration: none;
}

.shade {
    background-image: url('/images/snow.gif');
    background-size: 250px;
    opacity: 0.7;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.shade-2 {
    background-image: url('/images/winter-clouds.png');
    background-size: 100%;
    opacity: 0.8;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    float: left;
}

.shade-3 {
    background-image: url('/images/starsky.gif');
    opacity: 0.4;
    z-index: -1;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.top-shade {
    background-image: url('/images/stars.gif');
    background-size: 300px;
    float: left;
    height: 100px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 7px;
    width: 100%;
    z-index: -1;
}

header {
    margin-top: 50px;
    text-align: center;
}

header img {
    margin-left: 10px;
    margin-right: 10px;
}

.ragnarok-logo-frame {
    justify-content: center;
    display: flex;
    align-items: center;
}

#logo {
    font-family: Banquise, serif;
    font-size: 100px;
    color: #FFF;
    text-shadow:
            0 0 5px #33CCFF,
            0 0 10px #00BFFF,
            0 0 20px #1E90FF,
            0 0 40px #0000FF;
    margin-left: 20px;
}

.content-container {
    padding: 15px 15px;
}

.inner-border {
    border: solid 1px #ffff1a;
}
