<footer class="dashed-black-container">
    <span>NexusHub &copy; 2024</span>
    <a href="/terms-and-conditions">Terms and Conditions</a>
    <a href="<%= forumRules.href %>">Forum Rules</a>
</footer>

<div class="bottom-footer">
    <a href="#">
      <img alt="ragnarok logo" src="images/ragnaroklogo.png" style="scale: 0.6;">
    </a>
</div>

<% if (!loggedIn) { %>
  <div class="modal">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Login</h2>
        <span><button class="close-btn">&times;</button></span>
      </div>
      <div class="modal-content">
        <form id="login-form">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" style="margin-left: 3px;" required><br>
          <button type="submit">Step into the Realm</button>
        </form>
        <br style="padding-top: 100px;">
        <span>Don't have an account?<br><br>
          <a href="#" id="sign-up">Sign up</a>
        </span>
      </div>
    </div>
  </div>

  <div class="modal2">
    <div class="agreement-frame">
      <div id="registration-agreement">
        Registration Agreement
      </div>
      <div>
        <p>
          By using NexusHub, you agree not to post any content that is false, defamatory, inaccurate,
          abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a
          person's privacy, or adult material. You also agree not to post any copyrighted material unless
          you own the copyright or have written consent from the owner. Spam, flooding, advertisements,
          chain letters, pyramid schemes, and solicitations are strictly forbidden on NexusHub. The staff
          and owners of NexusHub cannot confirm the validity of all posts. While we do not actively monitor
          every message, we reserve the right to remove any content that violates these guidelines within a
          reasonable time frame. The views expressed in posted messages are those of the author and not
          necessarily of NexusHub, its staff, subsidiaries, or owner. If you find a post objectionable, please
          notify an administrator or moderator immediately. The staff and owner reserve the right to remove
          objectionable content as needed. Users are solely responsible for the content of their posts. You
          agree to indemnify and hold harmless the owners of NexusHub, related websites, staff, and
          subsidiaries. The owners may reveal your identity in the event of a formal complaint or legal action.
          As a registered user, choose an appropriate username and never share your password except with an
          administrator. Do not use another person's account for any reason. Use a strong, unique password
          to protect your account. Your IP address is recorded with each post for security purposes. Your
          profile information must be clean and accurate. Inaccurate or vulgar information may be removed,
          and appropriate sanctions may be applied. By registering, you agree to follow additional global
          and sectional rules and guidelines governing NexusHub.
          <br>
          <br>
        </p>
        <button class="agree-button">I ACCEPT THE TERMS OF THE AGREEMENT.</button>
      </div>
    </div>
  </div>

  <div class="modal3">
      <div class="registration-form-frame">
        <form class="registration-form">
          <header>Registration Form</header>
          <fieldset>
            <dl class="register_form">
              <dt>
                <strong><label for="register-username">Username:</label></strong>
              </dt>
              <dt>
                <input type="text" id="register-username" name="registerUsername" placeholder="Your username..."
                  required minlength="3" maxlength="15">
              </dt>
            </dl>
            <dl class="register_form">
              <dt>
                <strong><label for="register-password">Password:</label></strong>
              </dt>
              <dt>
                <input type="password" id="register-password" name="registerPassword" placeholder="Your password..."
                  required>
              </dt>
            </dl>
            <div class="button-area">
              <button id="register-button" type="submit">Register</button>
            </div>
          </fieldset>
        </form>
      </div>
  </div>
<% } %>



<div class="modal4">
    <div class="search-container">
      <div class="search-header">
        Search for Posts
      </div>
      <div class="search-box">
        <form action="/search">
          <input type="text" name="query" class="search-input" placeholder="Search...">
          <button class="search-button" type="submit">Search</button>
        </form>
      </div>
      <p>e.g. Orwell "Animal Farm" -movie</p>
    </div>
</div>