<div class="logo-container">
    <div class="ragnarok-logo-frame">
        <a href="/">
            <img alt="dark-lord" src="images/dark-lord.gif">
            <h1 id="logo">NexusHub</h1>
            <img alt="kades" src="images/kades.gif" style="height: 180px; width: 160px;">
        </a>
    </div>
</div>