<%- include('partials/logo.ejs') %>

<div class="content-container dashed-black-container container-margin">
  <div class="directory-bar">
    <a href="/">NexusHub Forum</a> 
    <span>&gt;</span>
    <a href="/user/update=<%= userId %>">Update Profile</a>
  </div>
  <div class="profile-container post-container-template">
    <div class="profile-header topic-header">
      Update Profile
    </div>
    <form class="edit-profile-form" data-id="<%= userId %>">
      <div class="form-group">
        <label for="user-email">Email:</label>
        <input type="text" id="user-email" name="user-email" class="form-control">
      </div>
      <div class="form-group">
        <label for="user-age">Age:</label>
        <input type="number" id="user-age" name="user-age" class="form-control" min="13" max="110">
      </div>
      <div class="form-group">
        <label for="user-description">Short Description:</label>
        <input type="text" id="user-description" name="user-description" class="form-control">
      </div>
      <div class="form-group">
        <label for="user-password">Change Password:</label>
        <input type="password" id="user-password" name="user-password" class="form-control" minlength="6">
      </div>
      <div class="form-group">
        <button type="submit" class="update-profile-btn">Update Profile</button>
      </div>
    </form>
  </div>

<script src="js/updateProfile.js"></script>